<div class="devise-wrapper">
  <div class="devise-header">
    <h2>Log in</h2>
    <p>Acesse sua conta com seus dados</p>
  </div>

  <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn btn-outline btn-info w-full flex items-center justify-center gap-2", data: { turbo: false } do %>
    <i class="fa-brands fa-google"></i> Entrar com Google
  <% end %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field remember-me">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
